/* 注册你的自定义字体并告诉浏览器它在哪里 */
@font-face {
  font-family: 'song';
  src: url('https://gh-proxy.com/github.com/ike-lee-820/fuwari/raw/refs/heads/main/public/fonts/song.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}